 /* .grid-container {
  grid-template-rows: 150px auto;
  display: grid;
  grid-template-areas:
    'menu  header header header header header header header header'
    'menu  main main main main main main main main';
  gap: 10px;
}
*/


/*
#apple {

margin-left: 50px;

}

#pear {

margin-left: 50px;

}

#pineapple{

margin-left: 50px;

}



#listing1 {

margin-left: 30px;
margin-top: -10px;
}

#listing2 {
margin-left: 95px;
margin-top: -35px;
}

#listing6 {
  margin-left: 75px;
  margin-top: -35px;

}

#listing4 {
margin-left: 15px;
margin-top: -35px;
}

#listing5 {
margin-left: 95px;
margin-top: -10px;
}

#listing3 {
margin-left: 30px;
}

.item1 {
  grid-area: menu;
}

.item2 {
  grid-area: header;
}

.item3 {
  grid-area: main;
  max-height: auto;
  display:flex;
}

#title {
  font-family: 'Crafty Girls', cursive;
  font-size: 50px;
  text-align: center;
  color: #FF9494;
}



*/




#body {
  background-color: #FFE3E1;
  margin: 0;
  }



  

hr {
  background-color: #FFD1D1;
  color: #FFD1D1;
  border: solid 2px #FFD1D1;
  height: 5px;
  width: 100%;
  margin-left: -120px;
}



ul {
  font-size: 27px;
  font-family: 'Crafty Girls', cursive;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 1500px;
  background-color: #FFF5E4;
  position: sticky;
}

li a {
  display: block;
  color: #FF9494;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #FF9494;
  color: white;
}

.title {
  margin: 0;
  border: 0;
}


#abouttitle {
  font-family: 'Crafty Girls', cursive;
  font-size: 45px;
  text-align: center;
  color: #FF9494;
}



#listingstitle {
  font-family: 'Crafty Girls', cursive;
  font-size: 45px;
  text-align: center;
  color: #FF9494;
}


@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

#listing-bg {
width: 300px;
height: 600px;
  background-color: #FFD1D1;
  border-radius: 15px;
  margin: 25px;
  margin-top: 75px;
  margin-left: -75px;
}

#line {
width: 1000px;
align: center;
margin-left: 300px;
}

#heart-plate {
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 250px;
  margin: 25px;
  border-radius: 12px;
}

h1 {
  font-family: 'Crafty Girls', sans-serif;
  color: rgba(255, 255, 255, 0.98);
  font-size: 33px;
  width: 300px;
}



.button-wrapper {
  margin-top: 18px;
}

#image1 {

border-radius: 15px;

}

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
  margin-left: 15px;

}

.btn+.btn {
  margin-left: 10px;
}

.outline {
  background: transparent;
  color: #FF9494;
  border: 1px solid #FF9494;
  transition: all .3s ease;
}

.outline:hover {
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;
}

.fill {
  background: #FF9494;
  color: rgba(255, 255, 255, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease;
}

.fill:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px #FF9494;
      transition: all .3s ease;
  }
